/* Tokens: colors */
$font-muted-color: #6F4A24;
$human-command-color: #2518d4;

/* App shell */
Screen {
    background: $surface;
}

.screen-grid {
    grid-size: 2 4;
    grid-rows: auto auto 1fr auto;
    grid-gutter: 1;
    keyline: thin $primary;
}

#app-container {
    grid-columns: 2fr 1fr;
}

#settings-grid {
    grid-columns: 1fr 2fr;
}

Footer {
    background: $surface;
}

/* Shared header */
#app-header {
    column-span: 2;
}

.header-title {
    width: 1fr;
    padding-left: 1;
}

/* Dashboard stats header */
#dashboard-stats-content {
    width: 0.8fr;
}

#dashboard-jrnl-llm-status {
    height: auto;
    align: right middle;
    width: 0.2fr;
}

#dashboard-title {
    color: $primary;
}

Rule {
    height: 1;
}

WidgetCommonStatLabel {
    width: 20;
}

/* Dashboard comms */
.llm-response {
    color: $primary;
}

.human-command {
    color: $human-command-color;
}

/* Dashboard ship log */
WidgetShipLogCol {
    row-span: 2;
}

WidgetShipLogEntry > Label {
    padding: 0 1 0 0;
}

/* Utility classes */
.text-bold {
    text-style: bold;
}

.shady {
    color: $font-muted-color;
}

.light {
    color: $secondary;
}

.p-x-1 {
    padding: 0 1;
}

.p-b-1 {
    padding: 0 0 1 0;
}

.p-l-1 {
    padding: 0 0 0 1;
}

.h-fill {
    height: 1fr;
}

.h-auto {
    height: auto;
}

.text-color-primary {
    color: $primary;
}

.w-fill {
    width: 1fr;
}

.w-80 {
    width: 0.8fr;
}

.w-50 {
    width: 0.5fr;
}

.align-right {
    align: right middle;
}

.content-align-right {
    content-align: right middle;
}

.border-debug{
    border: solid red;
}

.keybinds-entry{
    padding-top: 1;
}
